# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# dotenv
.env
render.env

# Virtual environment
.venv/
env/
venv/

# VSCode settings
.vscode/

# Logs and temporary files
*.log
*.tmp
*.bak

# OS-specific junk files
.DS_Store
Thumbs.db

# Python eggs
*.egg-info/
dist/
build/

# Render build cache
.cache/
